# Database
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=

# Registration API
REGISTRATION_URL=
REGISTRATION_API_KEY=
# Set to "false" to skip registration emails in development
SEND_REG_EMAIL=
